* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  /* font-family: "CozetteVector"; */
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1000;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  z-index: 999;
}

header ul li a {
  /* font-family: "CozetteVector"; */
  font-size: 1.2em;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  transition: all 0.1s ease-in-out;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  color: #2b1055;
  background-color: #fff;
}

/* ISI */

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cara menggunakan before, hasilnya akan berada pada bawah section. coba jika content di comentarkan akan terlihat perbedaannya. */
section::before {
  content: ""; /* Content yang Ini */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 12;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#cloud {
  width: 100%;
  mix-blend-mode: screen;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  /* font-family: "CozetteVector"; */
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  transform: translateX(850px);
  /* transition: all 0.5s ease-in-out; */
}

a#btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  /* font-family: "CozetteVector"; */
  color: #2b1055;
  font-size: 1.5em;
  font-weight: 600;
  z-index: 9;
  transform: translateY(100px);
  text-align: center;
  transition: color 0.3s ease-in-out;
}
a#btn:hover {
  box-shadow: 0 0 10px 4px #1c0522;
  background-color: #1c0522;
  color: #fff;
}

.sec {
  position: relative;
  padding: 120px;
  background-color: #1c0522;
  z-index: 14;
}

.sec h2 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 20px;
  word-spacing: 3px;
}

.sec h3 {
  font-size: 1.8em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
}

.sec p {
  color: #fff;
  font-size: 1.1em;
}

footer {
  width: 100%;
  text-align: center;
  padding: 40px 0 0px;
  /* margin-top: 20vh; */
  background-color: #1c0522;
}
footer h4 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 2.2em;
  color: #ccc;
  font-weight: 600;
  font-family: "Nunito";
}
footer .footer-content {
  padding-top: 25px;
  font-size: 1.1em;
  color: #ccc;
  font-family: "Nunito";
}
footer .made {
  margin-bottom: 10px;
  font-size: 1em;
}
footer hr {
  margin: 30px auto 0;
  width: 70vw;
}
footer .footer-bottom {
  background-color: #1c0522;
  font-family: "Nunito";
  padding-bottom: 100px;
  padding-top: 40px;
  font-size: 1.1em;
  color: #ccc;
}
footer .footer-info-1 {
  font-size: 0.8em;
}
footer .footer-info-2 {
  padding-top: 7px;
  font-size: 0.9em;
}
footer .footer-bottom i {
  position: relative;
  top: 3px;
  font-size: 1em;
}

/* .container {
  width: 100%;
  min-height: 100vh;
  background: #f0e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.container .menu {
  display: none;
  position: fixed;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 6px;
  z-index: 20;
  transition: all 0.4s ease;
}
.menu.show-nav {
  position: fixed;
  bottom: 0px;
  /* left: 43%; */
}
@media (max-width: 500px) {
  .container .menu {
    display: flex;
  }
}

.menu .icons {
  padding: 20px 30px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-out;
}

.menu .icons span {
  position: absolute;
  color: #ff5361;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  left: 0;
  top: 100%;
  border-bottom: 5px solid #ff5361;
}

.menu .icons-up {
  transform: translateY(-100%);
}

.tombol {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  background-color: #ccc;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 2em;
  cursor: pointer;
  /* transform: rotate(180deg); */
  z-index: 30;
  transition: all 0.4s ease;
}

.tombol-animate {
  animation: tombol 1.5s infinite;
  transition: all 0.4s ease;
}

.tombol:hover {
  /* box-shadow: 0 0 10px 4px #2b1055; */
  background-color: #1c0522;
  color: #fff;
}
@media (max-width: 500px) {
  .tombol {
    display: block;
  }
}
.tombol.close-tombol {
  position: fixed;
  bottom: 60px;
  left: 43%;
  transform: rotate(180deg);
}

@keyframes tombol {
  0% {
    bottom: 0px;
  }
  40% {
    bottom: 0px;
  }
  70% {
    bottom: 10px;
  }
  /* 80% {
  bottom: 5px;
  } */
  100% {
    bottom: 0px;
  }
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  #text {
    /* display: none; */
    transform: translateY(10px);
    overflow-x: hidden;
    font-size: 2.5em;
  }
  a#btn {
    font-size: 1em;
  }
  header .logo {
    font-size: 1.5em;
    position: absolute;
    left: 10px;
  }
  header ul {
    display: none;
  }
  .sec {
    padding: 50px;
  }
  .sec h2 {
    font-size: 2em;
    text-align: center;
  }
  .sec h3 {
    font-size: 1.2em;
  }
  .sec p {
    font-size: 0.9em;
  }
  footer .footer-content {
    font-size: 0.9em;
  }
}
